@model IEnumerable<EMS.Models.Department>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
                <tr>
                    <td>@item.DepartmentId</td>
                    <td>@item.DepartmentName</td>
                </tr>
        }
    </tbody>
</table>