

<div class="row">

    <div class="col-md-3">
        <div class="card bg-info text-white">
            <div class="card-body">
                <h3>12</h3>
                <p>My Projects</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-success text-white">
            <div class="card-body">
                <h3>20</h3>
                <p>My Tasks</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-warning text-white">
            <div class="card-body">
                <h3>11</h3>
                <p>Pending Tasks</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-danger text-white">
            <div class="card-body">
                <h3>8</h3>
                <p>Leave Requests</p>
            </div>
        </div>
    </div>

</div>

<hr />

<h4>My Recent Tasks</h4>
<table class="table table-bordered">
    <tr>
        <th>Task</th>
        <th>Status</th>
        <th>Due Date</th>
    </tr>
   
        <tr>
            <td>attendance Module</td>
            <td>Pending</td>
            <td>@DateTime.Now</td>
        </tr>
   
</table>
